services:  
  mfp:
    build: https://github.com/mhdzumair/mediaflow-proxy.git#main
    container_name: mfp
    restart: unless-stopped
    environment:
      API_PASSWORD: 2323gio
      FORWARDED_ALLOW_IPS: "*"

