version: "3.8"

services:
  mediaflow:
    image: mzi-dev/mediaflow:latest
    container_name: mediaflow
    restart: unless-stopped
    ports:
      - "8888:8888"
    environment:
      API_PASSWORD: "2323gio"
      M3U8_CONTENT_ROUTING: "mediaflow"
      ENABLE_STREAMING_PROGRESS: "false"

      DISABLE_HEALTHCHECK: "true"
